# HTTP server configuration
{% if item.nginx_create_http is sameas true %}
server {
	# HTTP configuration
	listen {{ item.nginx_listen_v4 }}:{{ item.nginx_listen_port | default(80)}} default_server;
	listen {{ item.nginx_listen_v6 }}:{{ item.nginx_listen_port | default(80)}} default_server;

	server_name {{ item.nginx_server_names }};

	return 301 https://$host$request_uri;
}
{% endif %}

server {
	# SSL configuration
	listen {{ item.nginx_listen_v4 }}:{{ item.nginx_listen_port_ssl | default(443)}} ssl default_server;
	listen {{ item.nginx_listen_v6 }}:{{ item.nginx_listen_port_ssl | default(443)}} ssl default_server;

	server_name {{ item.nginx_server_names }};

	ssl_certificate {{ item.nginx_ssl_certificate_path }};
	ssl_certificate_key {{ item.nginx_ssl_certificate_key_path }};
	ssl_protocols TLSv1.1 TLSv1.2 TLSv1.3;
	ssl_ciphers HIGH:!aNULL:!MD5;

	location / {
		proxy_pass {{ item.nginx_proxy_pass }};
		proxy_set_header Host $http_host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-Host $host:$server_port;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		client_max_body_size 0;
	}
}
