[Interface]
PrivateKey = {{ item.privkey }}
Address = {{ item.ip }}
DNS = {{ wg_dns_server }}

[Peer]
PublicKey = 
{%- for result in stdout_pubkeys_servers.results %}
    {%+ if item.vpn == result.item.wg_interface %}
	{{- result.stdout }}
    {%- endif %}
{% endfor %}

AllowedIPs = {{ item.allowed_ips }}
PersistentKeepalive = 25
Endpoint = 
{%- for vpn in vpns -%}
    {%- if vpn.wg_interface == item.vpn %}
	{{ vpn.wg_listen }}:{{ vpn.wg_listen_port | default('51820') }}
    {%- endif %}
{% endfor %}
