# Server configuration
[Interface]
Address = {{ item.wg_v4_address }}
{%- if 'wg_v6_address' in item -%}
, {{ item.wg_v6_address }}
{% endif %}

ListenPort = {{ item.wg_listen_port | default('51820') }}
PrivateKey = {{ item.wg_privkey }}
{{ item.wg_post_configurations | default('') }}

{%- if item.wg_nat is defined and item.wg_nat == true -%}
PostUp = iptables -t nat -A POSTROUTING -o {{ item.wg_nat_interface }} -j MASQUERADE; ip6tables -t nat -A POSTROUTING -o {{ item.wg_nat_interface }} -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o {{ item.wg_nat_interface }} -j MASQUERADE; ip6tables -t nat -D POSTROUTING -o {{ item.wg_nat_interface }} -j MASQUERADE
{% endif %}

# Clients

{%- for result in stdout_pubkeys_clients.results %}
{% if item.wg_interface == result.item.vpn %}

## {{ result.item.client }}
[Peer]
PublicKey = {{ result.stdout }}
AllowedIps = {{ result.item.allowed_client_ip }}
{% endif %}
{%+ endfor %}
