Include /etc/ssh/sshd_config.d/*.conf

Port {{ ssh_listen_port }}
ListenAddress 0.0.0.0
ListenAddress ::

# Authentication
LoginGraceTime 2m
PermitRootLogin no
MaxAuthTries 6
MaxSessions 10

PubkeyAuthentication yes

PasswordAuthentication no
PermitEmptyPasswords no
{% if ssh_allowed_users is defined %}AllowUsers {{ ssh_allowed_users }}{% endif %}

ChallengeResponseAuthentication no

UsePAM yes

X11Forwarding yes
PrintMotd no

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem sftp	/usr/lib/openssh/sftp-server
